body{
    height: 100vh;
    display: grid;
    grid-template-rows: 10vh 1fr 10vh;
}
/* header */
.header, 
.footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/* main */
.main{
    height: 100%;
    
    display: grid;
    grid-template-rows: 10vh 10vh 1fr;
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;
}
.singIn,
.addBook{
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: var(--colorBlue);
    color: var(--colorWhite);
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.singIn:hover{
    background-color:var(--colorHover);
}
.title{
    font-size: 3rem;
    text-align: center;
    color: var(--colorBlue);
}
.title>i{
    font-size: 2.1rem;
    color: var(--colorBlue);
}
.addBook{
    width: 15%;
    height: 60%;
    gap: 20px;
    align-self: center;
}
.addBook i{
    color: var(--colorWhite);
}
/* card */
.cardContainer{
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px; 

    background-color: var(--colorWhitePure);
    border-radius: 10px;
    padding: 20px;
}
.card{
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    border-radius: 10px;
    background-color: var(--colorWhite);
    box-shadow: 0 0 10px var(--colorBlack);
}
.card__isreadContainer{
    display: flex;
    gap: 20px;
}
.card__button{
    padding: 10px;
    background-color: var(--colorWhitePure);
}
/* var class */
.read{
    background-color: var(--colorGreen);

    color: var(--colorWhitePure);
}
.unread{
    background-color: var(--colorWhitePure);
    opacity: .2;
}
/* footer */
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer>a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px 20px;
    font-size: 1.2rem;
}
/* modal */
.modalContainer{
    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.5);
}
.form{
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;

    background-color: var(--colorWhite);
    border-radius: 10px;

}
.formGroup {
    margin-bottom: 15px;
}

label {
    display: block;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.form-check {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;
}
.custom-checkbox{
    width: 15px;
    height: 15px;
}
button {
    padding: 10px 15px;
    background-color: var(--colorBlue);
    color: var(--colorWhite);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.visible{
    display: flex;
}
.Invisible{
    display: none;
}